{% extends 'base.html' %}

{% block title %}Панель Администратора{% endblock %}

{% block content %}
<h2>Панель Администратора</h2>

<h3>Пользователи</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Actions</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>
            <a href="{{ url_for('delete_user', user_id=user.id) }}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>

<h3>Инициативы</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Actions</th>
    </tr>
    {% for initiative in initiatives %}
    <tr>
        <td>{{ initiative.id }}</td>
        <td>{{ initiative.title }}</td>
        <td>{{ initiative.content }}</td>
        <td>
            <a href="{{ url_for('delete_admin_initiative', initiative_id=initiative.id) }}">Удалить</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}